<!-- Sticky Navigation Bar -->
<nav class="sticky-nav" id="top">
  <div class="nav-brand">💻 Machine Coding</div>
  <div class="nav-links">
    <a (click)="scrollToSection('section-clickstars')">⭐ Click Stars</a>
    <a (click)="scrollToSection('section-hoverstars')">✨ Hover Stars</a>
    <a (click)="scrollToSection('section-decimalstars')">💫 Decimal Stars</a>
    <a (click)="scrollToSection('section-search')">🔍 Search Demo</a>
    <a (click)="scrollToSection('section-todobasic')">📝 Basic Todo</a>
    <a (click)="scrollToSection('section-todoadvanced')">⚙️ Advanced Todo</a>
    <a (click)="scrollToSection('section-tododragdrop')">🔄 Drag & Drop</a>
    <a (click)="scrollToSection('section-gridlights')">💡 Grid Lights</a>
    <a (click)="scrollToSection('section-modal')">🚪 Modal</a>
    <a (click)="scrollToSection('section-pagination')">📄 Pagination</a>
  </div>
</nav>

<div class="page">
    <hr/>
<app-search-autocomplete></app-search-autocomplete>
<hr/>
<h2 id="section-clickstars">Click stars - style binding & *ngFor</h2>
<div style="display: grid; grid-template-columns: repeat(2,1fr); gap:20px;">  
<pre> {{clickedCode}}</pre>
<pre>{{clickedTs}}</pre>
</div>
<div style="display: flex; align-items: center; justify-content: center;">
    <div *ngFor="let star of stars" (click)="rateStars(star)">
        <span [style.background]="star<=clickedIndex ? 'gold' :'gray'" 
        style="height: 50px; width: 50px; border-radius: 50%; display: flex;"></span>
    </div>
</div>
<span>Rating: {{clickedIndex}}</span>

<hr/>
<h2 id="section-hoverstars"> hover stars -- style and class binding showcase</h2>
<div style="display: grid; grid-template-columns: repeat(2,1fr); gap:20px;">  
<pre>{{hoveredHtml}}</pre>
<pre>{{hoveredCode}}</pre>
</div>
<div style="display:flex; align-items:center; justify-content: center;">
  <div *ngFor="let star of stars" (click)="ratingStars(star)" (mouseenter)="hoverStars(star)" (mouseleave)="hoverRating=0">
    <!-- <span class="star" [class.active]="star <= (hoverRating || rating)" [style.height.px]="100" [style.width.px]="100" [style.border-radius.%]="50" [style.display]="'flex'"></span> -->
     <span class="star" [class.active]="star <= rating" [class.hover]="star <= hoverRating"></span>
  </div>
</div>
<hr/>
<h2 id="section-decimalstars">Decimal Stars understanding event binding</h2>
<div style="display: grid; grid-template-columns: repeat(2,1fr); gap:20px;">  
<pre>{{fractionTs}}</pre>
<pre>{{fractionCode}}</pre>
</div>
<div style="display: flex; align-items: center; justify-content: center;">
   <div *ngFor="let star of stars" class="circle-wrapper" (click)="selectRating($event, star)" (mouseenter)="hoverSelectRating($event, star)" (mouseleave)="hoverStarRating = 0">
  <span class="circle-base"></span>
  <span class="circle-fill" [style.width.%]="getFill(star)" [style.background]="hoverStarRating > 0 ? 'black': 'gold'"></span>
</div>
</div>
<h2>HoverRating: {{hoverStarRating}}</h2>
<h2>Rating: {{starRating}}</h2>

<hr/>
<h2 id="section-search">Users Searching demo</h2>
<div style="display: grid; grid-template-columns: repeat(2,1fr); gap:20px;">  
  <pre>{{searchCode}}</pre>
  <pre>{{searchTs}}</pre>
</div>
<input [(ngModel)]="searchText" placeholder="search ..."  />
<ul>
  <li *ngFor="let user of filteredUsers()">
    {{user}}
  </li>
</ul>
<hr/>
<h2 id="section-todobasic">TODO App- basic the edit will add the thing to input itself simple model</h2>
<div style="display: grid; grid-template-columns: repeat(2,1fr); gap:20px;">  
<pre>{{todoBasicHtml}}</pre>
<pre>{{todobasicCode}}</pre>
</div>
<div style="display: flex; gap: 20px;">
  <input type=" 'text" [(ngModel)]="task"/>
  <button (click)="addTask()">
    {{editIndex !== null ? 'Update': 'Add'}}
  </button>
</div>
<ul>
  <li *ngFor="let todo of todos; let i = index">
    {{todo}}
    <button (click)="updateTask(i)">Edit</button>
    <button (click)="deleteTask(i)">delete</button>
  </li>
</ul>
<hr/>
<h2 id="section-todoadvanced">TODO Advanced-- edit multi items, key press enter add like that you could see advantage in angular</h2>
<p>here keyup/keydown.enter manages the enter button unlike in react pass event and check e.key=="Enter"</p>
<h3>Modal div get document: to event but not input why?</h3>
<p>(document:keydown.escape) the document: is because the escape key happens on document not modal like in input which is dom so it can be negated.</p>
<p>A normal div cannot recieve the keyboard events unless focused but input, textarea, select, button get global focus without document: </p>
<div style="display: grid; grid-template-columns: repeat(2,1fr); gap: 20px;">
  <pre>{{todoHtml}}</pre>
  <pre [textContent]="todoTs"></pre>
</div>
<div style="display: flex; gap: 20px;">
  <input type="text" [(ngModel)]="taskItem" (keyup.enter)="addTodoTask()" placeholder="Enter..."/>
  <button (click)="addTodoTask()">Add </button>
</div>
<ul>
  <li *ngFor="let list of todoList; let i = index">
    <ng-container *ngIf="updateIndex!==i; else editMode"> 
      {{list}}
      <button (click)="startEdit(i)">Edit</button>
      <button (click)="deleteTodoTask(i)">Delete</button>
    </ng-container>
    <!-- //else must in ng-template only; else it gives error-->
    <ng-template #editMode>
      <div style="display: flex; gap: 20px;">  
        <input type="text" [(ngModel)]="updatingTask" placeholder="Edit.." (keyup.enter)="saveEdit(i)"/>
        <button (click)="saveEdit(i)">save</button>
        <button (click)="cancelEdit()">Cancel</button>
      </div>
    </ng-template>
  </li>
</ul>
<hr/>
<h2 id="section-tododragdrop">TODO Drag & Drop using previous ones itself</h2>
<p>If asked to save priorities like on drag and drop new array create use put axios request to update the tasks list</p>
<div style="display: grid; grid-template-columns: repeat(2,1fr); gap: 20px;">
  <pre>{{todoDragHtml}}</pre>
  <pre [textContent]="todoDragTs"></pre>
</div>
<div style="display: flex; gap: 20px;">
  <input type="text" [(ngModel)]="taskItem" (keyup.enter)="addTodoTask()" placeholder="Enter..."/>
  <button (click)="addTodoTask()">Add </button>
</div>
<ul>
  <li *ngFor="let list of todoList; let i = index" draggable="true" (dragstart)="onDragStart(i)" (dragover)="$event.preventDefault()" (drop)="onDrop(i)"
  [class.dragging]="draggedIndex===i">
    <ng-container *ngIf="updateIndex!==i; else editMode"> 
      {{list}}
      <button (click)="startEdit(i)">Edit</button>
      <button (click)="deleteTodoTask(i)">Delete</button>
    </ng-container>
    <!-- //else must in ng-template only; else it gives error-->
    <ng-template #editMode>
      <div style="display: flex; gap: 20px;">  
        <input type="text" [(ngModel)]="updatingTask" placeholder="Edit.." (keyup.enter)="saveEdit(i)"/>
        <button (click)="saveEdit(i)">save</button>
        <button (click)="cancelEdit()">Cancel</button>
      </div>
    </ng-template>
  </li>
</ul>

<hr/>

<h2 id="section-gridlights">Grid Lights code -- class binding active->inactive (clicked active blue; else gold)</h2>
<div style="display: grid; grid-template-columns: repeat(2,1fr); gap:20px;">
  <pre [textContent]="gridCode">  </pre>
  <pre [textContent]="gridHtml"></pre>
</div>
<p>{{grid | json}}</p>
<p>{{grids | json}}</p>

<div class="grid-light">
  <div *ngFor="let light of grids; let i = index" class="cell-light" [class.active]="lights[i]" [class.inactive]="!lights[i]" (click)="toggle(i)">
    {{i+1}}
  </div>
</div>
<hr/>
<h2 id="section-modal">Modal related</h2>
<p>(document:keydown.escape) the document: is because the escape key happens on document not modal like in input which is dom so it can be negated.</p>
<p>A normal div cannot recieve the keyboard events unless focused but input, textarea, select, button get global focus without document: </p>
<div style="display: grid;grid-template-columns: repeat(2,1fr); gap: 20px;">
  <pre [textContent]="modalCode"></pre>
  <pre [textContent]="modalTs"></pre>
</div>
<button (click)="openModal()">Open Modal</button>
<div class="backdrop" *ngIf="isModalOpen" (document:keydown.escape)="closeModal()" (click)="closeModal()">
  <div class="modal" (click)="$event.stopPropagation()">
    <h2> Modal Title</h2>
    <p> Modal content</p>
    <button (click)="closeModal()">close</button>
  </div>
</div>

<hr/>

<h2 id="section-pagination">Pagination & filtering</h2>

<div style="display: grid; grid-template-columns: repeat(2,1fr);gap: 20px;">
  <pre [textContent]="paginationTs"></pre>
  <pre [textContent]="paginationHtml"></pre>
</div>
<div class="controls">
  <input type="text" [(ngModel)]="searchTableText" placeholder="Search Name..." (input)="applyFilters()" />
  <input type="number" [(ngModel)]="minAge" placeholder="Min Age..." (input)="applyFilters()"/>

  <button class="sort-btn" (click)="changeSort('asc')"> ASC</button>
  <button class="sort-btn" (click)="changeSort('desc')">DSC </button>
  <span>OR</span>
  <button class="sort-btn" (click)="toggleSort()"> Age {{ sortOrder === 'asc' ? '↑' : '↓' }}</button>
</div>
<table border="1">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Age</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of paginatedUsers">
      <td>{{user.id}}</td>
      <td>{{user.name}}</td>
      <td>{{user.age}}</td>
    </tr>
  </tbody>
</table>

<div class="pagination">
  <button (click)="previousPage()">Prev</button>
  <button *ngFor="let page of pages" (click)="goToPage(page)">{{page}}  </button>
  <button (click)="nextPage()">Next</button>
  <div class="page-size">
    <select [(ngModel)]="pageSize" (change)="changePageSize()">
      <option *ngFor="let size of pageSizeArray" [value]="size">
        {{size}}
      </option>

    </select>
  </div>
</div>
</div>

<!-- Scroll to Top Button -->
<button class="scroll-top-btn" id="scrollTopBtn" (click)="scrollToTop()" title="Scroll to Top">
  ↑
</button>