<div class="page">
  <nav class="sticky-nav">
    <ul>
      <li *ngFor="let topic of navTopics" (click)="scrollToSection(topic.id)">
        {{ topic.title }}
      </li>
    </ul>
  </nav>


  <h2>Angular RxJS Demo (Reactive Extension for JavaScript)</h2>
<h4>users -> Normal Variable</h4>
<h4>users$ -> Observable Stream need of $ sign means data coming from the http consumed by subscribe</h4>
<section class="card">
    <pre class="flow-box">
RxJS Operators
      ↓
Data Creation
      ↓
Data Transformation
      ↓
Data Filtering
      ↓
State Management
      ↓
API Calls
      ↓
Search Optimization
      ↓
Multiple Requests
      ↓
Memory Management
    </pre>
      <pre class="flow-box">
Observable
    ↓
Subscribe
    ↓
of()
    ↓
from()
    ↓
interval()
    ↓
Subject
    ↓
BehaviorSubject
    ↓
map()
    ↓
filter()
    ↓
debounceTime()
    ↓
switchMap()
    ↓
takeUntil()
________________________________________________________________
Observable
      ↓
Subscribe
      ↓
Operators
      ↓
Subject
      ↓
BehaviorSubject
      ↓
API Calls
      ↓
UI Update
__________________________________________________________
User Types
      ↓
Subject
      ↓
debounceTime
      ↓
distinctUntilChanged
      ↓
switchMap
      ↓
HTTP Request
      ↓
Observable
      ↓
Subscribe
      ↓
UI Updated
  </pre>

</section>
<h2 id="observable">Observable Example</h2>
<p>an Observable acts as a data producer that emits streams of values over time, while an Observer acts as the data consumer that listens to and processes those emitted values</p>
<pre [textContent]="ObservableDemo"></pre>
<ul>
  <li *ngFor="let item of observableData">
    {{ item }}
  </li>
</ul>

<hr>

<h2 id="subject">Subject Example</h2>
<p>a special type of Observable that acts as both an Observer (can push data) and an Observable (can be subscribed to)</p>
<pre [textContent]="subjectDemo"></pre>
<button (click)="sendSubjectValue()">
  Send Subject Value
</button>

<p>{{ subjectData }}</p>

<pre>
      subject DrawBack
next(50000)
      ↓
      (lost)

subscribe()

No value received
</pre>

<hr>

<h2 id="behavior-subject">BehaviorSubject Example</h2>
<pre [textContent]="behaviorSubjectExample"></pre>
<button (click)="updateBehaviorSubject()">
  Update BehaviorSubject
</button>

<p>{{ behaviorData }}</p>
<div style="display: grid; grid-template-columns: repeat(2,1fr);gap:20px">
      <pre [textContent]="subjectvsBehavioursubject"></pre>
      <pre [textContent]="behaviourSubjectDemo"></pre>
</div>
<hr>

<h2 id="search-example">Search Example - debounce example</h2>

<p>1st search handles on click enter/ button, 2nd one handles while search input itself it takes value like onChange.</p>
<div style="display: flex; gap:20px">
      <input type="text" [(ngModel)]="searchText" placeholder="Search..."  (keyup.enter)="search()" />
      <button (click)="search()">Search</button>

      <input type="text" [(ngModel)]="searchText" (input)="search()" placeholder="search...">
</div>
<ul>
  <li *ngFor="let user of results">
    {{ user }}
  </li>
</ul>

<div style="display: grid; grid-template-columns: 3fr 2fr; gap: 20px;">
      <pre [textContent]="rxjsSearchDemo"></pre>
      <pre [textContent]="rxjsSearchDemoHtml"></pre>
</div>
<hr/>
<pre class="flow-box">
    JavaScript                    RxJS

map()               →         map()

filter()            →         filter()

Promise.all()       →         forkJoin()

setTimeout()        →         debounceTime()

async/await         →         concatMap()

Promise.all()       →         mergeMap()

Global Variable     →         BehaviorSubject()

EventEmitter        →         Subject()

Promise             →         Observable()

Array               →         from()

Static Data         →         of()
</pre>


<section class="card" id="data-creation">
  <h2>Data Creation Operators</h2>
  <pre>{{ observableCode }}</pre>
  <pre>{{ ofCode }}</pre>
  <pre>{{ fromCode }}</pre>
</section>

<section class="card" id="transformation">
  <h2>Transformation Operators</h2>
  <pre>{{ mapCode }}</pre>
</section>

<section class="card" id="filtering">
  <h2>Filtering Operators</h2>
  <pre>{{ filterCode }}</pre>
</section>

<section class="card" id="state-management">
  <h2>State Management</h2>
  <pre>{{ subjectCode }}</pre>
  <pre>{{ behaviorCode }}</pre>
</section>

<section class="card" id="search-optimization">
  <h2>Search Optimization</h2>
  <pre>{{ debounceCode }}</pre>
</section>

<section class="card" id="multiple-api-calls">
  <h2>Multiple API Calls</h2>
  <pre>{{ forkJoinCode }}</pre>
  <pre>{{ mergeMapCode }}</pre>
  <pre>{{ concatMapCode }}</pre>
  <pre>{{ combineLatestCode }}</pre>
</section>

<section class="card" id="memory-management">
  <h2>Memory Management</h2>
  <pre>{{ takeUntilCode }}</pre>
</section>
<section class="card" id="tap-demo">
      <h2>Tap Demo usage</h2>
      <pre [textContent]="tapDemo"></pre>
</section>

<h2 id="industry-example">RXJS usage industry example</h2>
<section class="card">
      <pre [textContent]="searchComponentService"></pre>
      <pre [textContent]="searchComponentTs"></pre>
      <pre [textContent]="searchComponentHtml"></pre>
</section>
  <button class="scroll-to-top" (click)="scrollToTop()">
    ↑ Top
  </button>
</div>